<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxExam</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
    <nav class="main-nav">
        <a href="/" class="logo">
            <h1>FoxExam</h1>
        </a>
        <ul class="nav-links">
            <li><a href="/vote">Vote here!</a></li>
            <li><a href="/statistics">Statistics</a></li>
        </ul>
    </nav>
</body>