<%- include('partials/header') %>

<div class="index-bg-logo"></div>

<div class="welcome-container">
  <h1 class="welcome-animated">
    <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span>
    <span>&nbsp;t</span><span>o</span>
    <span>&nbsp;F</span><span>o</span><span>x</span><span>E</span><span>x</span><span>a</span><span>m</span>
  </h1>
  <p class="welcome-sub">
    Vote for the cutest foxes and see who’s on top!
  </p>
</div>

