<%- include('partials/header') %>



<h2 style="text-align:center; margin-top:2rem;">Which is cutest?</h2>
<% if (error) { %>
  <p style="color: #ff6f61; text-align:center;"><%= error %></p>
<% } %>

<div class="fox-vote-container">
  <% foxes.forEach(function(fox, idx) { %>
    <div class="fox-card">
      <img src="<%= fox %>" alt="Cute Fox" class="fox-img"/>
      <form action="/vote" method="POST">
        <input type="hidden" name="foxImage" value="<%= fox %>">
        <button type="submit" class="vote-btn">Vote</button>
      </form>
    </div>
  <% }) %>
</div>

